{% load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.css" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" type="text/css" href="/static/hello/css/style.css"> {% endcomment %}
</head>
<body class="container">
<h1 class="display-4 text-primary">{{title}}</h1>
<form action="{% url 'hello:message' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
<input type="submit" value="GO" class="btn btn-primary mt-2">
<div class="mt-5"></div>
{% comment %} </form> {% endcomment %}
<table class="table">
<tr>
    <th class="py-1">title</th>
    <th class="py-1">name</th>
    <th class="py-1">datetime</th>
</tr>
    {% for item in data %}
<tr>
    <td class="py-2">{{item.title}}</td>
    <td class="py-2">{{item.friend.name}}</td>
    <td class="py-2">{{item.pub_date}}</td>
</tr>
    {% endfor %}
</table>

<ul class="pagination justify-content-center">
{% if data.has_previous %}
<li class="page-item">
<a class="page-link" href="{% url 'hello:message' %}">
    &laquo; first</a>
</li>
<li class="page-item">
<a class="page-link" href="{% url 'hello:message' %}{{data.previous_page_number}}">
    &laquo; prev</a>
</li>
{% else %}
<li class="page-item">
<a class="page-link">
    &laquo; first</a>
</li>
<li class="page-item">
<a class="page-link">
    &laquo; prev</a>
</li>
{% endif %}
<li class="page-item">
<a class="page-link">
    {{data.number}}/{{data.pagenator.num_pages}}</a>
</li>
{% if data.has_next %}
<li class="page-item">
<a class="page-link" href="{% url 'hello:message' %}{{data.next_page_number}}">
    next &raquo;</a>
</li>
<li class="page-item">
<a class="page-link" href="{% url 'hello:message' %}{{data.paginator.num_pages}}">
    last &raquo;</a>
</li>
{% else %}
<li class="page-item">
<a class="page-link">
    next &raquo;</a>
</li>
<li class="page-item">
<a class="page-link">
    last &raquo;</a>
</li>
{% endif %}
</ul>
</body>
</html>